{% extends "bootstrap3/bootstrap3.html" %}

{% load bootstrap3 %}

{% block bootstrap3_title %}O2{% endblock %}

{% block bootstrap3_extra_head %}
<link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block bootstrap3_content %}


	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="class navbar-brand" href="{% url 'dashboard' %}">O2</a>
			</div>
			<div class="collapse navbar-collapse">
				{% if request.user.is_authenticated %}
				<ul class="nav navbar-nav">
						<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
						{% if request.user.is_staff %}
							<li><a href="{% url 'customers' %}">Customers</a></li>
						{% endif %}
						{% if request.user.is_superuser %}
							<li><a href="{% url 'admin:index' %}">Admin</a></li>
						{% endif %}
				</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url 'logout' %}">Log out</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="container" id="content">

		{% bootstrap_messages %}

		{% block content %}
		{% endblock %}

	</div>

{% endblock %}
